@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #eee;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../public/background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(238, 238, 238, 0.9);
}

#logo {
  border-radius: 50%;
  margin-top: 60px;
}

#container h1 {
  color: #000;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 20px;
}

#social-bar {
  display: flex;
  gap: 15px;
  margin: 10px 0 20px;
  /* filter: invert(100%); */
}

#box {
  text-align: center;
  width: 350px;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 10px;
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 500;
}

#box:hover {
  background-color: #000;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;
}
